@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&family=Roboto+Mono:wght@100;200;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('https://images.unsplash.com/photo-1686169505874-633b512546cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  color: rgb(255, 255, 255);
  max-width: 900px;
  margin: 0 auto;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container {
  font-size: 30px;
  font-weight: 40;
}

.date-container #am-pm {
  font-size: 20px;
  margin-left: 20px;
}

.date-container .date {
  font-size: 20px;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.6);
  padding: 40px;
  border-radius: 10px;
  margin: 5px 0;
  border: 1px solid rgb(236, 182, 47);
  position: relative;
  top: 5px;
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between 3px;
  position: relative;
  top: 60px;
  padding: 3px;
}

.future-forecast {
  padding: 2px;
  display: flex;
  color: rgb(19, 18, 18);
  width: 90%;
  align-items: center;
  justify-content: center;

}

.future-forecast .today {
  display: flex;
  align-items: left;
  justify-content: center;
  left: 10px;
  position: absolute;
  bottom: 10px;
  padding: 20px;
}

.future-forecast .day {
  position: absolute;
  bottom: 50px;
  border-radius: 10px;
  padding: 5px;
  left: 40px;

}

.weather-forecast {
  position: relative;
  top: 90px;
  border-radius: 10px;
  padding: 5px;
  left: 50px;
}

.future-forecast .today.temp {
  font-size: 15px;
  padding-top: 50px;

}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  border: 1px solid rgb(240, 183, 62);
  border-radius: 15px;
  padding: 50px;
  font-size: 20px;
  font-weight: 100;
  background: rgba(24, 24, 27, 0.6);
}

.weather-forecast .weather-forecast-item .day {
  padding: 10px 10px;
  background: #f07e37;
  border-radius: 50px;
  text-align: center;
  position: relative;
  left: 25px;
  bottom: 70px;
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
}

.search {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  width: 99px;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  color: rgb(239, 178, 47);
  box-shadow: 0px 5px 10px 0px;
  transition: all 200ms ease-in-out;
  background: white;
  border: rgb(170, 137, 206);
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;

}

.form-search {
  position: absolute;
  top: 20px;
  right: 141px;
  padding: 10px 15px;
  width: 160px;
  display: block;
  margin: 20px auto;
  border-radius: 30px;
  color: rgb(239, 223, 47);
  box-shadow: 0px 5px 10px 0px;
  transition: all 200ms ease-in-out;
  background: white;
  border: rgb(206, 137, 151);
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
}

.current-info .date-container .w-icon {
  position: absolute;
  top: 10px;
  left: 80px;
}

.git {
  position: absolute;
  bottom: 100px;
  font-family: 'Times New Roman', Times, serif;
  left: 700px
}
.date-container {
  font-size: 40px;
  font-weight: 50;
  display: flex;
  align-items: center;
}

.date-container #am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.date-container .date {
  font-size: 30px;
  margin-left: 10px;
}

.container {
    width: 100%;
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
}
